{% extends 'main.html' %}

{%block title%} Welcome to Online Testing System {%endblock title%}


{%block top%}
<a href="{% url 'OTS:registrationfrom' %}">Sign Up</a>
<a href="{% url 'OTS:login' %}">Login</a>
{% endblock %}

{% block content%}

<h2>
<p><i>Welcome to our online testing app, your go-to destination for honing your coding skills and acing your next interview! Our home page is designed to empower aspiring developers like you with a curated collection of challenging coding interview questions. Whether you're gearing up for a job interview or simply want to enhance your programming prowess, our extensive question bank covers a variety of topics and difficulty levels. From algorithms and data structures to problem-solving and language-specific challenges, we've got you covered. Elevate your coding journey, track your progress, and prepare for success with our user-friendly interface. Embrace the thrill of coding and unleash your potential – start your journey on our home page today!  </p>
</h2>
<P>
    <h4>HERE YOU CAN PRACTISE VARIOUS TOPICS<BR><BR>

        1.DATA STRUCTURES AND ALGORITHMS<BR>
        2.OBJECT ORIENTED QUESTIONS<BR>
        3.AND MANY MORE...

    </h4>
</p>
<br>

<h3><p>............................LOGIN AND START PRPEPARING FOR YOUR UPCOMING INTERVIEWS............................</P></h3>
 <BR>
    <BR>
        <BR>


    <H3><P> ..!!!  OUR BEST WISHES IS WITH YOU FOR YOUR UPCOMING INTERVIEW  ..!!!</p></H3>

        <P>
        
            

             Made By ,  Aslaan Khan.....
        </p>
{%endblock%}

